.career01-ttl {
  font-weight: var(--weightRegular);
  font-size: 3.2rem;
  line-height: 1.6;
  letter-spacing: .04em;
}

.career01-ttl_large {
  font-weight: var(--weightRegular);
  font-size: 3.8rem;
  line-height: 1.6;
  letter-spacing: .04em;
}

.career01-ttl_small {
  font-weight: var(--weightRegular);
  font-size: 2.6rem;
  line-height: 1.4;
  letter-spacing: .04em;
}

.career01-ttl_en {
  display: block;
  color: var(--colorRosePink);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: "Comfortaa",sans-serif;
  letter-spacing: .1em;
}

.career01-ttl_en.is-brown {
  color: var(--colorBrown);
}

.career01-ttl_en_medium {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Comfortaa",sans-serif;
  letter-spacing: .1em;
}

.career01-ttl_en_small {
  color: var(--colorRosePink);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: "Comfortaa",sans-serif;
  letter-spacing: .1em;
}

.career01-ttl_sub {
  font-weight: var(--weightMedium);
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: .04em;
}

.career01-ttl_sub_large {
  font-weight: var(--weightMedium);
  font-size: 2.2rem;
  line-height: 1.6;
  letter-spacing: .04em;
}

.career01-ttl_sub_small {
  font-weight: var(--weightMedium);
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: .04em;
}

.career01-bg_pink_border_03 {
  z-index: 1;
  position: absolute;
  width: 40.3rem;
  min-width: 40.3rem;
}

.career01-bg_pink_border_03.is-reverse {
  -webkit-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
}

.career01-arrow_icn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.35rem;
  color: var(--colorWhite);
}

.career01-arrow_icn.is-position {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.career01-arrow_icn.is-reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.career01-arrow_icn_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: .7rem;
  color: var(--colorWhite);
}

.career01-arrow_icn_small.is-reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.career01-arrow_icn_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: .8rem;
  color: var(--colorWhite);
}

.career01-arrow_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  aspect-ratio: 1;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--colorPink);
}

.career01-arrow_bg.is-white {
  background-color: var(--colorWhite);
}

.career01-arrow_bg_pink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  aspect-ratio: 1;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--colorPink);
}

.career01-illust_teature_01 {
  z-index: 1;
  position: absolute;
  width: 14.1rem;
}

.career01-select {
  display: inline-grid;
  z-index: 2;
  position: absolute;
  left: 50%;
  padding: 1.7rem 1.5rem;
  gap: 1rem 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid var(--colorBrown);
  border-radius: 2rem;
  background: var(--colorWhite);
}

.career01-select::before {
  display: inline-block;
  visibility: initial;
  position: absolute;
  top: -1.2rem;
  left: 50%;
  width: 1rem;
  height: 1.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../../public/img/p-icn_triangle_brown.svg);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.career01-select.is-yellow {
  background: var(--bgColorLightYellow);
}

.career01-select.is-flex {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.career01-select_list_link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18rem;
  min-height: 4rem;
  border-radius: 100vw;
  background: var(--colorLightPink);
  font-weight: var(--weightMedium);
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
}

.career01-ttl_curve_line {
  display: grid;
  position: relative;
  grid-template-columns: 6rem auto 6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  gap: 0 var(--dec-gap, 2rem);
  font-size: var(--icn-size, 3.2rem);
  line-height: 1.6;
  letter-spacing: .04em;
  text-align: center;
}

.career01-ttl_curve_line.is-small {
  --head-size: 2.2rem;
  --icn-pos: 0.4rem;
  --icn-gap: 2rem;
  --icn-width: 2.1rem;
  --icn-height: 2.1rem;
  --icn-size: 2.2rem;
}

.career01-ttl_curve_line_left,.career01-ttl_curve_line_right {
  position: relative;
  bottom: var(--icn-pos, 1rem);
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: var(--icn-width, 3.1rem);
  height: var(--icn-height, 3.1rem);
}

.career01-ttl_curve_line_left {
  justify-self: flex-end;
}

.career01-ttl_curve_line_right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@-webkit-keyframes fadeInBounce {
  0% {
    visibility: hidden;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  20% {
    visibility: visible;
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 1;
  }
  100% {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInBounce {
  0% {
    visibility: hidden;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  20% {
    visibility: visible;
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 1;
  }
  100% {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.js-inview {
  visibility: hidden;
  -webkit-transform: translateY(-8rem);
          transform: translateY(-8rem);
  opacity: 0;
  -webkit-transition: opacity 1s,visibility 1s,-webkit-transform 1s;
  transition: opacity 1s,visibility 1s,-webkit-transform 1s;
  transition: opacity 1s,visibility 1s,transform 1s;
  transition: opacity 1s,visibility 1s,transform 1s,-webkit-transform 1s;
}

.js-inview.is-active {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.js-bounce {
  visibility: hidden;
  opacity: 0;
}

.js-bounce.is-active {
  -webkit-animation: fadeInBounce .7s ease-out .1s forwards;
          animation: fadeInBounce .7s ease-out .1s forwards;
}

.js-kv_ttl {
  visibility: hidden;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  opacity: 0;
  -webkit-transition: opacity 1s,visibility 1s,-webkit-transform 1s;
  transition: opacity 1s,visibility 1s,-webkit-transform 1s;
  transition: opacity 1s,visibility 1s,transform 1s;
  transition: opacity 1s,visibility 1s,transform 1s,-webkit-transform 1s;
}

.js-kv_ttl.is-active {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.js-kv_mask {
  visibility: hidden;
  opacity: 0;
}

.js-kv_mask.is-active {
  -webkit-animation: fadeInBounce .7s ease-out .1s forwards;
          animation: fadeInBounce .7s ease-out .1s forwards;
}

.js-select {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 500ms,visibility 500ms;
  transition: opacity 500ms,visibility 500ms;
}

.js-select.is-active {
  visibility: visible;
  opacity: 1;
}

.js-select_btn {
  cursor: pointer;
}

.js-flow.is-active .js-flow_item:after {
  -webkit-transform: translate(71%, 76%);
          transform: translate(71%, 76%);
}

.js-accordion svg {
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.js-accordion_anchor {
  cursor: pointer;
}

.js-accordion.is-active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.js-accordion_content_wrapper {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 500ms;
  transition: height 500ms;
}

.js-accordion_content_wrapper.is-open {
  -webkit-transition: height 0s;
  transition: height 0s;
}

.js-movie.is-none {
  pointer-events: none;
}

#hs-overlay-cta-169524314804 {
  display: none;
}



.no-scroll[class] {
  height: 100vh;
  overflow: hidden !important;
}

.u-sp_show[class] {
  display: none;
}

@media screen and (max-width: 47.9375em) {
  .career01-ttl {
    font-size: 2.6rem;
  }
  .career01-ttl_large {
    font-size: 3rem;
  }
  .career01-ttl_small {
    font-size: 2.2rem;
  }
  .career01-ttl_en {
    font-size: 1.6rem;
  }
  .career01-ttl_sub {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  .career01-ttl_sub_large {
    font-size: 1.8rem;
  }
  .career01-ttl_sub_small {
    font-size: 1.4rem;
  }
  .career01-arrow_icn {
    width: 1.3rem;
  }
  .career01-arrow_icn_small {
    width: .6rem;
  }
  .career01-arrow_bg {
    width: 3rem;
    height: 3rem;
  }
  .career01-arrow_bg_pink {
    width: 3rem;
    height: 3rem;
  }
  
  .career01-illust_teature_01 {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  
  .career01-select_list_link {
    font-size: 1.6rem;
  }

  .career01-ttl_curve_line {
    grid-template-columns: 3.1rem auto 3.1rem;
    max-width: 100%;
    gap: 0 1rem;
    font-size: var(--head-size, 2.6rem);
  }
  .career01-ttl_curve_line.is-small {
    --head-size: 1.8rem;
    --icn-pos: 0;
    --icn-gap: 1rem;
    --icn-size: 1.8rem;
  }
  .career01-ttl_curve_line_left,.career01-ttl_curve_line_right {
    bottom: var(--icn-pos, 0.7rem);
  }
}

@media (hover: hover) {
  .career01-hover_bg:hover {
    background: var(--hoverColorPink);
    opacity: 1;
  }
  .career01-hover_bg_arrow:hover {
    opacity: 1;
  }
  .career01-hover_bg_arrow:hover .career01-arrow_bg,.career01-hover_bg_arrow:hover .career01-arrow_bg,.career01-hover_bg_arrow:hover .c-more_btn_arrow_bg,.career01-hover_bg_arrow:hover .c-accordion_arrow_bg,.career01-hover_bg_arrow:hover .c-accordion_arrow_bg_small {
    background: var(--hoverColorPink);
  }
 
}
