.career01-container {
  position: relative;
  width: 100%;
  max-width: 136.6rem;
  margin: 0 auto;
  padding: 0 6.3rem;
}



.career01-list_ttl_icn_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  position: relative;
  position: absolute;
  top: -0.2rem;
  left: .4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.4rem;
  gap: .3rem 0;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1;
  font-family: "Comfortaa", sans-serif;
  letter-spacing: .04em;
}

.career01-list_ttl_icn_small::before {
  display: inline-block;
  visibility: initial;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../public/img/p-list_ttl_yellow_icn.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.career01-list_ttl_icn_small_txt {
  padding-top: .8rem;
  font-weight: 700;
  font-size: .8rem;
  font-family: "Comfortaa", sans-serif;
}



@media screen and (max-width: 47.9375em) {
  .career01-container {
    width: 100%;
    padding: 0 1.5rem;
  }

  .career01-list_ttl_icn_small {
    top: .2rem;
    left: .3rem;
    width: 4.4rem;
    height: 4.4rem;
    font-size: 1.8rem;
  }

  .career01-list_ttl_icn_small_txt {
    font-size: .8rem;
  }
}