.l-top_kv {
  min-height: 87.8rem;
  background: var(--bgColorPink);
}

.l-top_kv_ttl {
  z-index: 3;
  position: absolute;
  top: 24.3rem;
  left: 13.5rem;
  font-weight: var(--weightRegular);
  font-size: 3.8rem;
  line-height: 1.6;
  letter-spacing: .04em;
}

.l-top_kv_ttl_sub {
  display: block;
  margin-bottom: .8rem;
  font-weight: var(--weightMedium);
  font-size: 2.2rem;
  line-height: 1.4;
  letter-spacing: .04em;
}

.l-top_kv_mask {
  z-index: 1;
  position: relative;
  width: 73.4rem;
  height: 61.6rem;
  margin: 0 auto;
  text-align: center;
}

.l-top_kv_mask_clip {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  -webkit-clip-path: url("#mask-clip-path");
          clip-path: url("#mask-clip-path");
}

.l-top_kv_mask_svg path {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
}

.l-top_kv svg {
  z-index: 2;
  position: relative;
  width: 100%;
  height: auto;
}

.l-top_kv_right {
  position: absolute;
  top: 14rem;
  right: 5rem;
}

.l-top_kv_right_img {
  position: relative;
  left: -2rem;
  width: 70rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-top_kv_right_img.is-before {
  position: absolute;
  top: 0;
  left: 0;
}

.l-top_kv_wrapper {
  position: relative;
  width: 100%;
  max-width: 136.6rem;
  margin: 0 auto;
}

.l-top_kv_left {
  position: absolute;
  top: 36.5rem;
  left: -6.5rem;
  width: 39.5rem;
}

.l-top_kv_left_bg_star {
  z-index: 0;
  position: absolute;
  top: 3.5rem;
  left: 32rem;
  width: 12.3rem;
}

.l-top_kv_left_bg_border {
  z-index: 0;
  position: absolute;
  top: -2.5rem;
  left: -5rem;
}

.l-top_kv_left_img {
  z-index: 3;
  position: relative;
}

.l-top_kv_bg_star {
  z-index: 0;
  position: absolute;
  top: .5rem;
  right: 4rem;
  width: 14.5rem;
}

.l-top_kv_bg_dot {
  z-index: 3;
  position: absolute;
  top: 43.3rem;
  right: -15rem;
}

.l-top_kv_illust01 {
  z-index: 3;
  position: absolute;
  top: -0.4rem;
  right: 59.5rem;
  width: 14.2rem;
}

.l-top_kv_illust02 {
  z-index: 3;
  position: absolute;
  top: 52rem;
  right: 43.5rem;
  width: 14.6rem;
}

.l-top_kv_bnr {
  z-index: 1;
  position: absolute;
  top: 68rem;
  left: -2rem;
  width: 52rem;
}

.career01-top_cycle {
  position: relative;
  margin-bottom: -9rem;
  padding: 3.3rem 0 0;
  background: var(--bgColorBoldPink);
}

.career01-top_cycle_bg_top {
  position: absolute;
  top: -19.9rem;
  left: 0;
  width: 100%;
  height: 20rem;
}

.career01-top_cycle_about {
  margin-bottom: 17rem;
}

.career01-top_cycle_about_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3.3rem;
  gap: 0 3.8rem;
}

.career01-top_cycle_about_content {
  width: 55.5rem;
  text-align: left;
}

.career01-top_cycle_about_ttl {
  margin-bottom: 2.3rem;
}

.career01-top_cycle_about_ttl_en {
  margin-bottom: 1.3rem;
}

.career01-top_cycle_about_txt {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: .04em;
}

.career01-top_cycle_about_img {
  width: 53.7rem;
}

.career01-top_cycle_about_border_pink_left {
  bottom: -19rem;
  left: -6rem;
}

.career01-top_cycle_about_border_pink_right {
  right: -2rem;
  bottom: -9rem;
}

.career01-top_cycle_about_dot_white {
  top: -4rem;
  right: 17.5rem;
}

.career01-top_cycle_point {
  position: relative;
  background: var(--bgColorPink);
}

.career01-top_cycle_point_wrapper {
  z-index: 1;
  position: relative;
  top: -9.6rem;
}

.career01-top_cycle_point_ttl {
  margin-bottom: 4rem;
  text-align: center;
}

.career01-top_cycle_point_ttl_sub {
  display: block;
  margin-bottom: .5rem;
  font-weight: var(--weightMedium);
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: .04em;
}

.career01-top_cycle_point_bg {
  position: absolute;
  top: -19.9rem;
  left: 0;
  width: 100%;
  height: 20rem;
}

.career01-top_cycle_point_list {
  position: relative;
  width: 28rem;
  text-align: center;
}

.career01-top_cycle_point_list:nth-child(even) {
  padding-top: 7.6rem;
}

.career01-top_cycle_point_list:nth-child(even) .career01-top_cycle_point_list_number {
  top: 7.6rem;
}

.career01-top_cycle_point_list::before {
  display: inline-block;
  visibility: initial;
  position: absolute;
  width: 18.5rem;
  height: 8.6rem;
  background: url(../../public/img/l-top_cycle_point_list_icn_pc.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.career01-top_cycle_point_list:nth-of-type(1)::before {
  top: 12.3rem;
  right: -17rem;
}

.career01-top_cycle_point_list:nth-of-type(2)::before {
  display: inline-block;
  visibility: initial;
  position: absolute;
  top: 12.3rem;
  right: -7rem;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.career01-top_cycle_point_list:nth-of-type(3)::before {
  top: 12.3rem;
  right: -9rem;
}

.career01-top_cycle_point_list:last-child::before {
  display: none;
}

.career01-top_cycle_point_list_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 4rem;
}

.career01-top_cycle_point_list_number {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.career01-top_cycle_point_list_img {
  z-index: 1;
  position: relative;
}

.career01-top_cycle_point_list_img_wrapper {
  z-index: 1;
  position: relative;
  margin-bottom: 1.2rem;
  overflow: hidden;
  border-radius: 12rem;
}

.career01-top_cycle_point_list_img_wrapper::after {
  display: inline-block;
  visibility: initial;
  z-index: 2;
  position: absolute;
  top: 50%;
  top: 0%;
  left: 50%;
  left: 10%;
  width: 100%;
  width: 100%;
  height: 100%;
  height: 100%;
  scale: 1.6;
  scale: 2;
  background: url(/career/img/common/p-icn_sakura.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.career01-top_cycle_point_list_ttl {
  margin-bottom: .8rem;
  font-weight: var(--weightMedium);
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: .04em;
}

.career01-top_cycle_point_list_txt {
  margin-bottom: .7rem;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: .04em;
}

.career01-top_cycle_point_list_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 0 auto;
  gap: 0 1rem;
  font-weight: var(--weightMedium);
  font-size: 1.6rem;
  line-height: 1.4;
}

.career01-top_cycle_point_list_link_position {
  position: relative;
}

.career01-top_cycle_point_list_link_child {
  z-index: 4;
  top: 5rem;
}

.career01-top_link {
  position: relative;
  padding: 24.9rem 0 0;
  background: var(--bgColorYellow);
}

.career01-top_link_bg_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
}

.career01-top_link_list {
  position: relative;
  width: 55rem;
}

.career01-top_link_list_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 6rem;
}

.career01-top_link_list_link {
  font-weight: 500;
}

.career01-top_link_list_link_wrapper {
  z-index: 1;
  position: absolute;
  bottom: 8.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.career01-top_link_dot {
  z-index: 1;
  position: absolute;
  top: -20rem;
  left: 9.5rem;
  width: 36.2rem;
}

.career01-top_link_illust {
  top: -24.4rem;
  right: 26.2rem;
}


@media screen and (max-width: 47.9375em) {
  
  .career01-top_cycle {
    padding: 3.3rem 0 8.3rem;
  }
  .career01-top_cycle_bg_top {
    top: -5.9rem;
    height: 6rem;
  }
  .career01-top_cycle_about {
    margin-bottom: 12rem;
  }
  .career01-top_cycle_about_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    gap: 3rem 0;
  }
  .career01-top_cycle_about_content {
    width: 100%;
  }
  .career01-top_cycle_about_ttl {
    margin-bottom: 1rem;
  }
  .career01-top_cycle_about_ttl_en {
    margin-bottom: .6rem;
  }
  .career01-top_cycle_about_txt {
    line-height: 1.7;
  }
  .career01-top_cycle_about_img {
    width: 100%;
  }
  .career01-top_cycle_about_border_pink_left {
    bottom: -15rem;
    left: -13rem;
  }
  .career01-top_cycle_about_border_pink_right {
    right: -16rem;
    bottom: -9.6rem;
  }
  .career01-top_cycle_about_dot_white {
    top: -4.5rem;
    right: -11.5rem;
  }
  .career01-top_cycle_point {
    padding-bottom: 6rem;
  }
  .career01-top_cycle_point_wrapper {
    top: 1rem;
  }
  .career01-top_cycle_point_ttl {
    margin-bottom: 2rem;
  }
  .career01-top_cycle_point_ttl_sub {
    margin-bottom: .5rem;
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .career01-top_cycle_point_bg {
    top: -5.9rem;
    height: 6rem;
  }
  .career01-top_cycle_point_list {
    width: 26rem;
  }
  .career01-top_cycle_point_list:nth-child(even) {
    margin: 0 0 0 auto;
    padding-top: 0;
  }
  .career01-top_cycle_point_list:nth-child(even) .career01-top_cycle_point_list_number {
    top: 0;
  }
  .career01-top_cycle_point_list::before {
    display: inline-block;
    visibility: initial;
    position: absolute;
    width: 27.5rem;
    height: 33rem;
    background: url(../../public/img/l-top_cycle_point_list_icn_sp.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }
  .career01-top_cycle_point_list:nth-of-type(1)::before {
    top: 12.3rem;
    right: -27.6rem;
  }
  .career01-top_cycle_point_list:nth-of-type(2)::before {
    top: 12rem;
    right: 26.5rem;
    height: 31rem;
    -webkit-transform: scaleX(-1) rotate(-1deg);
            transform: scaleX(-1) rotate(-1deg);
  }
  .career01-top_cycle_point_list:nth-of-type(3)::before {
    top: 11.3rem;
    right: -27.1rem;
  }
  .career01-top_cycle_point_list_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem 0;
  }
  .career01-top_cycle_point_list_img_wrapper {
    margin-bottom: 1.6rem;
    border-radius: 9rem;
  }
  .career01-top_cycle_point_list_ttl {
    margin-bottom: 0;
  }
  .career01-top_cycle_point_list_txt {
    padding: 0 1rem;
    text-align: left;
  }
  .career01-top_cycle_point_list_link_child {
    top: 4.2rem;
  }
  .career01-top_link {
    padding-top: 13rem;
    padding-bottom: 11.9rem;
  }
  .career01-top_link_bg_top {
    height: 6rem;
  }
  .career01-top_link_list {
    width: 100%;
  }
  .career01-top_link_list_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.2rem 0;
  }
  .career01-top_link_list_link_wrapper {
    bottom: 3rem;
  }
  .career01-top_link_dot {
    top: -10rem;
    left: -1rem;
    width: 19.7rem;
  }
  .career01-top_link_illust {
    top: -16.2rem;
    right: -0.4rem;
  }
}